*, *::after, *::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%) ;
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(0, 17%, 95%);
    --white: hsl(0, 0%, 100%);
    --black : #000000;
    --black-lightbox: rgba(0, 0, 0, 0.75);
    --font-size-base : clamp(0.9rem, 4.3vw, 1.4rem);

    --layout-gap:5.5vw; /* TBD */
}

html {
    font-size: var(--font-size-base);
    background-color: var(--white);
    color: var(--dark-grayish-blue);
    height: 100vh;
    width: 100vw;
    font-family: "Kumbh Sans";
    font-weight: 400;
}

body {
    width: 100%;
    height: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--orange); }

@media (max-width : 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--layout-gap);
        width: 100%;
        position:fixed;
        top:0;
        z-index: 20;
        background-color: var(--white);
    }

    #open-menu-button {
        margin-right: var(--layout-gap);
    }

    #user-avatar {
        margin-left: var(--layout-gap);
        height: 5.5vw;
        width: 5.5vw;
    }

    #cart-button {
        height: 5.5vw;
        width: 5.5vw;
    }

    #open-menu-button {
        height: 4vw;
        width: 4.25vw;
    }

    #company-logo {
        height: 5.5vw;
        width: 37vw;
    }

    main {
        margin-top: 52px;  /*  A REVOIR  */ 
        width: 100%;
    }

    .picture-wrapper {
        width:100%;
        position:relative;
    }

    .product-picture {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 80vw;
        object-position: center;
    }

    
    #previous-button, #next-button {
        position:absolute;
        top:50%;
        z-index: 10;
        border-radius: 50%;
        background-color: var(--white);
        padding: 15px; /*  A REVOIR  */ 
        height: 50px;    /*  A REVOIR  */ 
        width:50px;   /*  A REVOIR  */ 
    }

    #previous-button {
        left:5%;
    }

    #next-button {
        right:5%;
    }

    .company-name {
        color:var(--dark-grayish-blue);
        font-size:clamp(0.7rem, 2.5vw, 1.4rem);
        letter-spacing: 0.1rem;
    }

    .product-name {
        font-size:clamp(2rem, 8vw, 4rem);
        color:var(--black);
        line-height: 1;
    }

    .text-wrapper {
        padding: var(--layout-gap);
        display: flex;
        flex-direction: column;
        gap:var(--layout-gap);
    }

    .product-description {
        line-height: 1.5;
    }

    .price-wrapper {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        width: 100%;
        padding:0px var(--layout-gap);
    }

    .discount {
        color: var(--white);
        background-color: var(--black);
        padding:calc(0.25*var(--layout-gap)) calc(0.5*var(--layout-gap));
        border-radius: 5px;
        font-weight: 700;
        align-self: center;
    }

    .current-price {
        font-size: clamp(1.75rem, 8.5vw, 3.5rem);
        font-weight: 700;
        color: var(--black);
    }

    .normal-price {
        font-weight: 700;
        text-decoration: line-through;
        align-self: center;
    }

    .quantity-wrapper {
        margin:var(--layout-gap);
        background-color: var(--light-grayish-blue);
        border-radius: 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:calc(0.75*var(--layout-gap));
    }

    .chosen-quantity {
        color: var(--black);
        font-weight: 700;
    }

    #add-cart {
        all: unset;
        display: flex;
        background-color: var(--orange);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:var(--layout-gap);
        border-radius: 10px;
        margin: 0px var(--layout-gap);
        width: calc(100% - 2*var(--layout-gap));
        padding: var(--layout-gap) 0px;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--black);
        box-shadow: 0px 5px 15px var(--orange);
    }

    footer {
        margin:var(--layout-gap);
    }

    nav {
        position: fixed;
        left: 0;
        top:0;
        display: none;
        flex-direction: column;
        width: 70vw;
        height: 100vh;
        color: var(--black);
        background-color: var(--white);
        z-index: 40;
        padding: var(--layout-gap);
    }

    .nav-menu {
        list-style-type: none;
        font-weight: 700;
        font-size: clamp(1.4rem, 6vw, 2rem);
        margin-top: calc(2*var(--layout-gap));
    }

    .menu-item {
        margin-bottom: calc(1.5*var(--layout-gap));
    }

    #customer-cart {
        position: absolute;
        padding: var(--layout-gap);
        background-color: var(--white);
        border-radius: 10px;
        top: 20vw;
        left:3vw;
        width:94vw;
        z-index: 20;
        height: 65vw;
    }

    #cart-title {
        color: var(--black);
        font-weight: 700;
    }

    #cart-title::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--dark-grayish-blue);
        margin-top: var(--layout-gap); 
      }


    #empty-cart {
        font-weight: 700;
        text-align: center;
        margin-top:20vw;

    }
}